<div class="container">
  <img
    class="logo"
    src="/assets/teams/{{ team.name }}/logo.png"
    [alt]="team.name"
    (error)="logoError = true"
    *ngIf="team && !logoError; else logoErrorTemplate"
  />
  <ng-template #logoErrorTemplate>
    <div class="logo no-logo">
      <mat-icon *ngIf="team">broken_image</mat-icon>
    </div>
  </ng-template>
  <div class="name" [matTooltip]="team?.name ?? ''" matTooltipPosition="right" [matTooltipDisabled]="!team">
    {{ team?.name }}
  </div>
</div>
<div class="advance-button" [class.disabled]="!team || disabled">
  <button mat-icon-button [disabled]="!team || disabled" *ngIf="!winner; else winnerTemplate">
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
  <ng-template #winnerTemplate>
    <mat-icon>emoji_events</mat-icon>
  </ng-template>
</div>
