<div class="container">
  <img
    class="logo"
    src="/assets/teams/{{ team.name }}/logo.png"
    [alt]="team.name"
    (error)="logoError = true"
    *ngIf="team && !logoError; else logoErrorTemplate"
  />
  <ng-template #logoErrorTemplate>
    <div class="logo no-logo">
      <ng-container *ngIf="team">
        {{ team.name | teamInitials }}
      </ng-container>
    </div>
  </ng-template>
  <div class="name" [matTooltip]="team?.name ?? ''" matTooltipPosition="above" [matTooltipDisabled]="!team">
    {{ team?.name }}
  </div>
  <button
    *ngIf="deleteAllowed"
    class="delete-button"
    mat-icon-button
    color="warn"
    type="button"
    (click)="deleteClick.emit($event)"
    [matTooltip]="deleteTooltip"
    matTooltipPosition="above"
  >
    <mat-icon>clear</mat-icon>
  </button>
</div>
<div class="advance-button" [class.disabled]="!team || disabled">
  <button
    mat-icon-button
    [disabled]="!team || disabled"
    *ngIf="!tournamentWinner && !winner"
    (click)="buttonClick.emit($event)"
    matTooltip="Set winner"
    matTooltipPosition="right"
  >
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
  <mat-icon *ngIf="tournamentWinner" matTooltip="Tournament winner" matTooltipPosition="above">emoji_events</mat-icon>
  <mat-icon *ngIf="winner" matTooltip="Winner" matTooltipPosition="above">military_tech</mat-icon>
</div>
