<ng-container *ngIf="{ team: team$ | async } as state">
  <app-go-back [path]="state.team ? '../' : '../../list'">{{ state.team?.name ?? 'Teams' }}</app-go-back>
  <app-team-crud
    *ngIf="state.team; else teamNotFound"
    [mode]="teamCrudMode.edit"
    [team]="state.team"
    (snackbarShow)="onSnackBarShow()"
  ></app-team-crud>
  <ng-template #teamNotFound>
    <p>Team not found</p>
    <a mat-raised-button color="primary" routerLink="../../add">Add team</a>
  </ng-template>
</ng-container>
