<ng-container *ngFor="let game of phase.games; trackBy: trackById">
  <div class="tournament-phase-game">
    <app-tournament-phase-game-team
      [tournamentWinner]="last"
      [team]="game.teamA"
      [game]="game"
      [phaseNumber]="phase.number"
      [disabled]="!game.teamA || !game.teamB || !!game.winner"
      [idTeamWinner]="game.winner"
      teamSide="a"
    ></app-tournament-phase-game-team>
    <app-tournament-phase-game-team
      *ngIf="!last"
      [team]="game.teamB"
      [game]="game"
      [phaseNumber]="phase.number"
      [disabled]="!game.teamA || !game.teamB || !!game.winner"
      [idTeamWinner]="game.winner"
      teamSide="b"
    ></app-tournament-phase-game-team>
  </div>
</ng-container>
