:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
}

.tournament-phase-game {
  margin-bottom: 1rem;
}

.tournament-phase-game-team {
  margin-bottom: 1rem;
}
