<mat-card [formGroup]="form">
  <h3 mat-card-title>{{ mode === teamCrudMode.add ? 'Add team' : 'Edit team' }}</h3>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" #firstInput />
      <mat-error *ngIf="nameControl.touched && nameControl.invalid"> Name is required </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sub title</mat-label>
      <input matInput formControlName="subTitle" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Logo</mat-label>
      <input matInput formControlName="logo" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Image</mat-label>
      <input matInput formControlName="image" />
    </mat-form-field>
    <mat-form-field class="description">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" [matTextareaAutosize]="true" [matAutosizeMinRows]="3"></textarea>
      <mat-error *ngIf="descriptionControl.touched && descriptionControl.invalid"> Description is required </mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="form.invalid" type="button" (click)="onSave()">Save</button>
  </mat-card-actions>
</mat-card>
