<ng-container *ngIf="tournament$ | async as tournament">
  <mat-form-field>
    <mat-label>Tournament name</mat-label>
    <input
      matInput
      [ngModel]="tournament.name"
      (ngModelChange)="onNameChange(tournament.id, $event)"
      [ngModelOptions]="{ updateOn: 'blur' }"
    />
  </mat-form-field>
  <app-tournament-teams
    *ngIf="teamsAvailable$ | async as teamsAvailable"
    [teamsAvailable]="teamsAvailable"
    [tournament]="tournament"
  ></app-tournament-teams>
  <button
    mat-raised-button
    type="button"
    color="primary"
    (click)="createPhases(tournament)"
    [disabled]="tournament.createPhases"
  >
    Create phases
  </button>
  <div class="phases">
    <app-tournament-phase
      *ngFor="let phase of tournament.phases; trackBy: trackById; let $last = last"
      [phase]="phase"
      [last]="$last"
    ></app-tournament-phase>
  </div>
</ng-container>
