<div class="container" *ngIf="teams$ | async as teams">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput [formControl]="termControl" autocomplete="off" />
  </mat-form-field>
  <div>
    <a mat-raised-button color="primary" routerLink="../add">Add new team</a>
  </div>
  <mat-nav-list>
    <div mat-subheader>Teams</div>
    <p *ngIf="!teams.length">No teams found</p>
    <ng-container *ngFor="let team of teams; trackBy: trackById">
      <a mat-list-item [routerLink]="['../', team.id]">
        <div matLine>{{ team.name }}</div>
        <button mat-icon-button type="button" (click)="onDelete($event, team)">
          <mat-icon>delete</mat-icon>
        </button>
      </a>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-nav-list>
</div>
