header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

main {
  padding: calc(64px + 1rem) 1rem 1rem;
  @media screen and (max-width: 599px) {
    padding-top: calc(56px + 1rem);
  }
}
