<app-team-mini-card
  id="tournament-phase-{{ game.idPhase }}-game-{{ game.id }}-team-{{ teamSide }}"
  [team]="team ?? teamDrag"
  [tournamentWinner]="tournamentWinner"
  [disabled]="disabled"
  [winner]="!!team && !!idTeamWinner && team.id === idTeamWinner"
  [deleteAllowed]="!idTeamWinner && !!team && phaseNumber > 1"
  (buttonClick)="onAdvanceButtonClick()"
  (deleteClick)="onDeleteButtonClick()"
  cdkDropList
  [cdkDropListDisabled]="!!team"
  (cdkDropListEntered)="onCdkDropListEntered($event)"
  (cdkDropListExited)="onCdkDropListExited()"
  (cdkDropListDropped)="onCdkDropListDropped($event)"
  [appTournamentPhaseGameTeamConnection]="game"
></app-team-mini-card>
