.card-container {
  display: flex;
  justify-content: center;
}

.mat-card {
  max-width: 400px;
  min-width: 400px;
}

.mat-card-avatar.no-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparentize(black, 0.75);
}
