<ng-container *ngIf="{ team: team$ | async } as state">
  <div class="card-container">
    <app-go-back path="../list">Teams</app-go-back>
    <ng-template #teamNotFound>
      <p>Team not found</p>
      <a mat-raised-button color="primary" routerLink="../add">Add team</a>
    </ng-template>
    <mat-card *ngIf="state.team as team; else teamNotFound">
      <mat-card-header>
        <img
          *ngIf="!logoError; else logoErrorTemplate"
          mat-card-avatar
          src="/assets/teams/{{ team.name }}/logo.png"
          [alt]="team.name"
          (error)="logoError = true"
        />
        <ng-template #logoErrorTemplate>
          <div class="no-logo" mat-card-avatar matTooltip="Broken logo" matTooltipPosition="left">
            <mat-icon>broken_image</mat-icon>
          </div>
        </ng-template>
        <mat-card-title>{{ team.name }}</mat-card-title>
        <mat-card-subtitle>{{ team.subTitle }}</mat-card-subtitle>
      </mat-card-header>
      <img
        *ngIf="!imageError"
        mat-card-image
        src="assets/teams/{{ team.name }}/image.png"
        [alt]="team.description"
        (error)="imageError = true"
      />
      <mat-card-content>
        <p>
          {{ team.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button routerLink="edit">Edit</a>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
