<h1>Welcome to Summoners Rift</h1>
<h3>
  You have been called upon to take part in the most exciting challenge of your life: ending the endless conflicts in
  Valoran. The human nation of Demacia, the haunting empire of Noxus, and the residents of every city-state look forward
  to this moment.
</h3>

<div class="actions">
  <a mat-raised-button color="primary" routerLink="/team/list">Teams</a>
  <a mat-raised-button color="primary" routerLink="/tournament/list">Tournaments</a>
</div>

<h4 class="explanation">You can use the buttons in the header to Save, Load or Reset all the data in the app</h4>
<h4 class="explanation">
  Felling lazy to add Teams and Tournament? Load the file that I left in the assets (data-for-the-lazy.json)
</h4>
