<mat-form-field>
  <mat-label>Teams</mat-label>
  <mat-chip-list
    [disabled]="!!tournament.finished"
    #teamsChipList
    cdkDropList
    [cdkDropListConnectedTo]="tournament.cdkDropLists"
    [cdkDropListDisabled]="!tournament.phases.length"
    id="tournament-teams"
  >
    <mat-chip
      *ngFor="let team of tournament.teams; trackBy: trackById"
      [removable]="!tournament.phases.length"
      (removed)="onTeamRemoved(tournament.id, $event)"
      [value]="team.id"
      cdkDrag
      [cdkDragData]="team"
    >
      {{ team.name }}
      <mat-icon matChipRemove *ngIf="!tournament.phases.length">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <mat-autocomplete autoActiveFirstOption #teamsAutocomplete="matAutocomplete">
    <mat-option
      *ngFor="let team of teamsAvailable | search: 'name':(teamTerm$ | async); trackBy: trackById"
      [value]="team.id"
      (onSelectionChange)="onTeamSelected(tournament.id, $event)"
    >
      {{ team.name }}
    </mat-option>
  </mat-autocomplete>
  <input
    matInput
    [matChipInputFor]="teamsChipList"
    [matAutocomplete]="teamsAutocomplete"
    (input)="onTeamTermInput($event)"
    [disabled]="!!tournament.phases.length || tournament.teams.length === 32"
  />
  <mat-hint>The number of teams needs to be 2, 4, 8, 16 or 32</mat-hint>
</mat-form-field>
